.margin-top-medium {
  margin-top: 2rem; }

.margin-top-small {
  margin-top: 1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-y: hidden; }

html {
  font-size: 62.5%;
  font-family: 'Spartan', sans-serif;
  font-weight: 500; }

body {
  background-color: white;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #a1a1a1; }

.title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.5rem;
  color: black; }

.subtitule {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.6rem;
  font-weight: 700;
  color: black; }

.nav {
  display: flex;
  color: white;
  width: 33.3333vw;
  height: 15vh;
  position: absolute;
  flex-grow: 1; }
  .nav__bar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; }
  .nav__logo {
    height: 1.4rem;
    width: auto;
    margin-right: 1.5rem; }
  .nav__link:link, .nav__link:active, .nav__link:visited {
    color: white;
    text-decoration: none; }

.toppart {
  display: flex;
  height: 66.6666vh;
  width: 100vw; }
  .toppart__slideshow {
    background-image: url("/images/desktop-image-hero-1.jpg");
    background-size: cover;
    background-position: center;
    flex: 0 0 60vw; }
  .toppart__buttons {
    position: absolute;
    display: flex;
    height: 6rem;
    width: 13rem;
    background-color: black;
    align-self: flex-end;
    left: 60vw; }
  .toppart__icon {
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center; }
  .toppart__text {
    margin: auto;
    width: 30vw; }
  .toppart__shop {
    display: flex;
    margin-top: 2rem;
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1rem; }
    .toppart__shop p {
      margin-right: 1.4rem; }
  .toppart__item {
    align-self: center; }

.bottompart {
  display: flex;
  height: 33.33333vh; }
  .bottompart__firstimage {
    background-image: url("/images/image-about-dark.jpg");
    flex: 0 0 30vw;
    background-size: cover;
    background-position: center; }
  .bottompart__textblock {
    padding: 6rem 4rem;
    align-self: center;
    justify-self: center; }
  .bottompart__secondimage {
    background-image: url("/images/image-about-light.jpg");
    flex: 0 0 30vw;
    background-size: cover;
    background-position: center; }
